In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
%matplotlib inline

In [3]:
tesla_article_table = pd.read_excel("/Users/anandsingh/Desktop/stock_predictor/Tesla/results/tesla_article_table.xlsx",index_col=0)

In [4]:
concatenated_table = pd.read_excel("/Users/anandsingh/Desktop/stock_predictor/Tesla/results/concatenated_table.xlsx",index_col=0)

In [5]:
tesla_article_table.head()

,Date,Articles,compound,pos,neg,neu
0,01/20/23,Wall St Week Ahead-Tech stock rebound faces do...,-0.3182,0.000,0.119,0.881
1,01/20/23,Should You Buy the Dip on Rivian Stock in 2023...,0.9932,0.133,0.066,0.801
2,01/20/23,"Pre-Market Most Active for Jan 20, 2023 : TQQQ...",0.9886,0.126,0.011,0.863
3,01/20/23,Tesla Causes Used Car Prices to Plunge -- What...,-0.4926,0.076,0.090,0.834
4,01/20/23,FOCUS-Here's what Twitter lost in advertising ...,0.9956,0.093,0.041,0.866

In [6]:
concatenated_table.head()

          compound       pos       neg       neu        Day  Change
Date
01/19/23  0.291800  0.088957  0.044043  0.867087   Thursday    4.74
01/18/23  0.779860  0.109667  0.049667  0.840667  Wednesday   -0.09
01/17/23  0.353565  0.083000  0.061192  0.855808    Tuesday   -7.78
01/13/23  0.721276  0.102138  0.059138  0.838759     Friday    5.80
01/12/23  0.675290  0.095429  0.038143  0.866381   Thursday    5.85